# ==========================================
# 90ab_w - System Autoboot Manager
# ==========================================

# ---------- Core ----------

# Sekunden warten bevor entschieden wird
timeout=6

# Log schreiben
log=1

# Safe Mode erlauben
safe_mode=1


# ---------- Trigger ----------

# WiiMote darf Boot beeinflussen
wiimote_enable=1

# GamePad darf Boot beeinflussen
gamepad_enable=1


# ---------- Boot Targets ----------

# Normaler Start
boot_default=wiiu_menu

# Wenn mit GamePad geweckt / benutzt
boot_gamepad=wiiu_menu

# Wenn (logisch) WiiMote beteiligt
boot_wiimote=vwii


# ---------- Fallback ----------

# Notfallziel
fallback=wiiu_menu
