# ================================
# 90ab_w Autoboot Wake Config
# ================================

# -------- Core --------
timeout=10
log=1
safe_mode=1

# -------- Triggers --------
wiimote_enable=1
gamepad_enable=1
power_button_enable=1

# -------- Safe Modes --------
# full / soft / off
safe_level=full

# GamePad Safe Combo
safe_buttons=L+R+X

# -------- WiiMote --------
# 0 = any, otherwise MAC filter
wiimote_mac_filter=0
wiimote_required=0

# -------- Autoboot --------
boot_default=/vol/storage_sdcard/wiiu/apps/homebrew_launcher/homebrew_launcher.rpx

# -------- Multi Boot --------
boot_power=/vol/storage_sdcard/wiiu/apps/app_power.rpx
boot_gamepad=/vol/storage_sdcard/wiiu/apps/app_gamepad.rpx
boot_wiimote=/vol/storage_sdcard/wiiu/apps/app_wiimote.rpx

# -------- Fallback --------
fallback=wiiu_menu

# -------- Debug --------
print_config=1
