# ==============================
# 90ab_w Autoboot Config
# ==============================

timeout=5
log=1
safe_mode=1

wiimote_enable=1
gamepad_enable=1

boot_default=wiiu_menu
boot_gamepad=wiiu_menu
boot_wiimote=vwii

fallback=wiiu_menu
